<%= form_for @passenger do |f| %>
    <ul>
      <% @passenger.errors.each do |msg| %>
      <li><%= msg %>:   "You are too young!"</li>
          <% end %>

    </ul>

   <%= f.label :name %>
   <%= f.text_field :name %>

   <%= f.label :age %>
   <%= f.number_field :age %>

   <%= f.label :gender %>
   <%= f.text_field :gender %>

   <%= f.label :destination %>
   <%= f.collection_select(:car_id, Car.all, :id, :destination) %>

   <%= f.submit (@passenger.new_record? ? "Create" : "Update") %>
<% end %>
