<h1><%= @passenger.name %></h1>

<p>Age: <%= @passenger.age %></p>
<p> Gender: <%= @passenger.gender %></p>


<%= link_to "[Delete]", passenger_path( @passenger.id ), method: :delete, data: { confirm: "Are you sure?" } %>

<%= link_to "[All Passenger]", passengers_path %>
