

<head>
  <title>Riding with Class</title>
<link href="https://fonts.googleapis.com/css?family=Audiowide|Baloo+Da|BioRhyme|Bungee+Shade|Eczar|Fontdiner+Swanky|Homemade+Apple|Walter+Turncoat" rel="stylesheet">

</head>
<body>

  <header class="header">
      <!--here comes the header -->
      <h1 class="title">Riding with Class</h1>
      <nav class="navbar">
          <li class="nav-item"><%= link_to "Subscribe", new_passenger_path %></li>
          <li class="nav-item"><%= link_to "Rides", root_path %></li>


      </nav>
  </header>


<h2 class="page-title"><%= @car.name %></h2>





<p>capacity: <%= @car.capacity %></p>
<p>destination: <%= @car.destination %></p>



<h2 class="page-title">Passengers in this car:</h2>

<% if @car.passengers.any? %>
  <ul>
    <% @car.passengers.each do |passenger| %>
      <li><%= passenger.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no passengers in this car.</p>
<% end %>

<!-- <%= link_to "[delete car]", car_path(@car.id), method: :delete, data: {confirm: "Are you sure?"} %> -->

<%= link_to "[New Passenger]", new_passenger_path(:id => @car.id) %>
<%= link_to "[Show all Passengers]", passengers_path %>
<%= link_to 'Back', cars_path %>
